html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #011827;
  width: 100%;
  padding-bottom: 20px;
}
.header .information {
  display: flex;
  flex-direction: row;
}
.header .information .logo {
  width: 110px;
  height: 80px;
  margin-top: 15px;
  margin-left: 20px;
}
.header .information h1 {
  color: #FFFFFF;
  margin: 18px 0px 5px 8.5px;
  font-size: 20px;
  font-weight: 700;
}
.header .information h1 span {
  display: block;
}
.header .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header .links p {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin: 0;
  padding: 35px 65px 20px 65px;
  font-size: 10px;
  font-weight: 700;
  display: none;
}

.image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 220px;
}

.challengeButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.challengeButtons .on-siteButton {
  background-color: #8ACFE5;
  color: #011827;
  border: none;
  font-weight: bold;
  font-size: 16px;
  width: 215px;
  height: 50px;
  border-radius: 2.5px;
  cursor: pointer;
  margin: 20px 0px 15px 0px;
}
.challengeButtons .onlineButton {
  border: none;
  background-color: transparent;
  color: #36769D;
  font-weight: 700;
  font-size: 11.3px;
  line-height: 8.5px;
  display: inline;
  cursor: pointer;
  padding: 10px 30px 10px 30px;
}
.challengeButtons .onlineButton::after {
  content: "";
  display: block;
  border-bottom: 0.8px solid #36769D;
}

.reviewBlock:nth-child(2) {
  display: none;
}

.reviews {
  display: flex;
}
.reviews .reviewBlock {
  padding-left: 15px;
  margin-top: 30px;
}
.reviews .reviewBlock .reviewText {
  display: flex;
}
.reviews .reviewBlock .reviewText p {
  margin: 0px 0px 4px 15px;
  font-style: italic;
  font-weight: 400;
  font-size: 17px;
  padding-right: 33px;
}
.reviews .reviewBlock .reviewText img {
  width: 50px;
  height: 50px;
  padding-top: 2px;
}
.reviews .reviewBlock small {
  margin-left: 65px;
  font-size: 13px;
}
