html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    padding: 0;
    background-color: #011827;
    width: 100vw;
}

.header__information {
    display: flex;
    flex-direction: row;
}

.header__information img {
    width: 128px;
    height: 82px;
    margin: 0;
    margin-top: 20px;
    margin-left: 20px;
}

.header__information h1 {
    color: #FFFFFF;
    margin: 20px 0px 5px 10px;
    font-size: 24px;

}

h1 span {
    display: block;
}

.header__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__links p {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin: 0;
    padding: 35px 65px 20px 65px;
    font-size: 24px;
    font-weight: 700;
    display: none;
}

.header__image {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 210px;
}