html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 619px) {
  .header {
    background-color: #011827;
    width: 100%;
    padding-bottom: 15px;
  }
  .header .branding {
    display: flex;
    flex-direction: row;
  }
  .header .branding .logo {
    width: 115px;
    height: 80px;
    margin-top: 15px;
    margin-left: 20px;
  }
  .header .branding h1 {
    color: #FFFFFF;
    margin: 18px 10px 5px 8.5px;
    font-size: 2rem;
    font-weight: 700;
  }
  .header .branding h1 span {
    display: block;
  }
  .header .hamburgerMenu {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 37px;
    height: 30px;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 18px;
    background-color: transparent;
    border: none;
  }
  .header .hamburgerMenu .line {
    width: 37px;
    height: 4.5px;
    background-color: #FFFFFF;
    margin: 4.5px 0;
    border-radius: 50px;
  }
  @keyframes backgroundAppear {
    0% {
      background-color: rgba(255, 255, 255, 0);
    }
    100% {
      background-color: rgba(255, 255, 255, 0.35);
    }
  }
  @keyframes overlayAppear {
    0% {
      display: none;
      transform: scale(0.97);
      opacity: 80%;
    }
    100% {
      transform: scale(1);
      opacity: 100%;
    }
  }
  @keyframes xAppear {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  .header .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.35);
    z-index: 6000;
    top: 0;
    animation: backgroundAppear 0.4s;
  }
  .header .menu .frontLayer {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 93%;
    height: 91%;
    background-color: #011827;
    z-index: 9999;
    top: 15px;
    left: 15px;
    padding-top: 30px;
    animation: overlayAppear 0.5s;
    box-shadow: 0px 1px 6px black;
  }
  .header .menu .frontLayer button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 100px;
    background-color: transparent;
    border: none;
    opacity: 0;
    animation: xAppear 0.01s 0.45s forwards;
  }
  .header .menu .frontLayer button div {
    width: 37px;
    height: 4.5px;
    background-color: #FFFFFF;
    margin: 4.5px 0;
    border-radius: 50px;
    transform: rotate(45deg);
  }
  .header .menu .frontLayer button div:nth-child(2) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .header .menu .frontLayer a {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin: 0;
    padding: 25px 65px 15px;
    font-size: 2.5rem;
    font-weight: 700;
  }
  .header .menu .frontLayer a:hover {
    color: #8ACFE5;
  }
  .header .hidden {
    display: none;
  }
  .largeImage {
    display: none;
  }
  .smallImage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
  }
  .challengeButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .challengeButtons .on-siteButton {
    background-color: #8ACFE5;
    color: #011827;
    border: none;
    font-weight: bolder;
    font-size: 1.6rem;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
    margin: 0px 0px 15px 0px;
  }
  .challengeButtons .onlineButton {
    border: none;
    background-color: transparent;
    color: #36769D;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 8.5px;
    display: inline;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
  }
  .challengeButtons .onlineButton::after {
    content: "";
    display: block;
    border-bottom: 0.8px solid #36769D;
  }
  .reviews {
    display: flex;
    margin-top: 30px;
  }
  .reviews .reviewBlock:nth-child(2) {
    display: none;
  }
  .reviews .reviewBlock {
    padding-left: 15px;
  }
  .reviews .reviewBlock .reviewText {
    display: flex;
  }
  .reviews .reviewBlock .reviewText p {
    margin: 0px 0px 4px 15px;
    font-style: italic;
    font-weight: 550;
    font-size: 1.7rem;
    padding-right: 50px;
  }
  .reviews .reviewBlock .reviewText img {
    width: 50px;
    height: 50px;
    padding-top: 2px;
  }
  .reviews .reviewBlock small {
    margin-left: 65px;
    font-size: 1.3rem;
  }
  .popularChallengesName {
    font-weight: 400;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 5px;
  }
  .challengesTab {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px 25px 25px;
  }
  .challengesTab .popularChallenges:nth-child(2) {
    margin-left: 40px;
  }
  .challengesTab .popularChallenges:nth-child(3) {
    margin-left: 40px;
    margin-right: 40px;
  }
  .challengesTab .popularChallenges {
    box-sizing: content-box;
    width: 260px;
    min-width: 260px;
    height: 310px;
    box-shadow: 0px 1px 6px #B6BDB5;
    margin-left: 40px;
    border-radius: 7px;
  }
  .challengesTab .popularChallenges * {
    margin: 0;
    padding: 0;
  }
  .challengesTab .popularChallenges img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .challengesTab .popularChallenges h2 {
    font-size: 1.9rem;
    font-weight: 400;
    padding: 4px 0px 1px 12px;
  }
  .challengesTab .popularChallenges .stars {
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-bottom: 5px;
  }
  .challengesTab .popularChallenges .stars .filledStar {
    width: 10px;
    height: 10px;
    background-image: url("Filled star.png");
    background-size: cover;
    margin-right: 6px;
  }
  .challengesTab .popularChallenges .stars .emptyStar {
    width: 10px;
    height: 10px;
    background-image: url("Empty star.png");
    background-size: cover;
    margin-right: 10px;
  }
  .challengesTab .popularChallenges .stars small {
    font-size: 1rem;
  }
  .challengesTab .popularChallenges p {
    font-size: 1.3rem;
    padding: 10px 13px;
  }
  .challengesTab .popularChallenges p span {
    display: block;
  }
  .challengesTab .popularChallenges button {
    border: none;
    background-color: #E3170A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 3px;
    padding: 10px 25px;
    margin-left: 119px;
    cursor: pointer;
  }
  .story {
    background-color: #011827;
    text-align: center;
    margin-top: 30px;
    padding: 60px 0px 70px;
    width: 100%;
  }
  .story * {
    margin: 0;
    padding: 0;
  }
  .story p {
    color: #FFFFFF;
    font-size: 2rem;
    padding: 10px 10% 40px;
  }
  .story button {
    background-color: transparent;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    font-weight: bolder;
    font-size: 1.6rem;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
  }
  .on-siteChallenges {
    padding-bottom: 25px;
  }
  .on-siteChallenges * {
    margin: 0;
    padding: 0;
  }
  .on-siteChallenges img {
    width: 100%;
    height: 260px;
    margin-bottom: 5px;
  }
  .on-siteChallenges h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0px 20px 15px;
  }
  .on-siteChallenges p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.9rem;
    padding-bottom: 10px;
    margin: 10px 0px 20px 15px;
  }
  .on-siteChallenges button {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
    margin: 10px 0px 20px 15px;
  }
  .onlineChallenges {
    padding-bottom: 25px;
  }
  .onlineChallenges * {
    margin: 0;
    padding: 0;
  }
  .onlineChallenges img {
    width: 100%;
    height: 260px;
    margin-bottom: 5px;
  }
  .onlineChallenges h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0px 20px 15px;
  }
  .onlineChallenges p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.9rem;
    padding-bottom: 10px;
    margin: 10px 0px 20px 15px;
  }
  .onlineChallenges button {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
    margin: 10px 0px 20px 15px;
  }
  .footer {
    background-color: #011827;
    color: #FFFFFF;
    padding: 50px 20px;
  }
  .footer * {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }
  .footer .information h4 {
    margin-bottom: 6.5px;
  }
  .footer .information p {
    margin-bottom: 40px;
  }
  .footer .siteMap h4 {
    margin-bottom: 6.5px;
  }
  .footer .siteMap span {
    display: flex;
    flex-direction: column;
  }
  .footer .siteMap span:nth-of-type(2) {
    margin-top: 1.5em;
    margin-bottom: 40px;
  }
  .footer .socialMedia h4 {
    margin-bottom: 6.5px;
  }
  .footer .socialMedia span {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 619px) {
  .header {
    background-color: #011827;
    width: 100%;
    padding-bottom: 15px;
  }
  .header .branding {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  .header .branding .logo {
    width: 135px;
    height: 90px;
    margin-top: 15px;
    margin-left: 20px;
  }
  .header .branding h1 {
    color: #FFFFFF;
    margin: 18px 0px 5px 8.5px;
    font-size: 2.3rem;
    font-weight: 700;
  }
  .header .branding h1 span {
    display: block;
  }
  .header .hamburgerMenu {
    display: none;
  }
  .header .frontLayer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .header .frontLayer button {
    display: none;
  }
  .header .frontLayer a {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin: 0;
    padding: 15px 40px 0px 40px;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .header .frontLayer a:hover {
    color: #8ACFE5;
  }
  .largeImage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 290px;
    margin-bottom: 10px;
  }
  .smallImage {
    display: none;
  }
  .challengeButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 10px;
  }
  .challengeButtons .on-siteButton {
    background-color: #8ACFE5;
    color: #011827;
    border: none;
    font-weight: bolder;
    font-size: 1.6rem;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
    margin-left: 30px;
  }
  .challengeButtons .onlineButton {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
  }
  .reviews {
    display: flex;
    margin-top: 30px;
  }
  .reviews .reviewBlock {
    padding-left: 15px;
  }
  .reviews .reviewBlock .reviewText {
    display: flex;
  }
  .reviews .reviewBlock .reviewText p {
    margin: 0px 0px 4px 15px;
    font-style: italic;
    font-weight: 550;
    font-size: 1.7rem;
    padding-right: 50px;
  }
  .reviews .reviewBlock .reviewText img {
    width: 55px;
    height: 55px;
    padding-top: 2px;
  }
  .reviews .reviewBlock small {
    margin-left: 70px;
    font-size: 1.3rem;
  }
  .popularChallengesName {
    font-weight: 400;
    font-size: 2.45rem;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  .challengesTab {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 30px 50px 50px;
  }
  .challengesTab .popularChallenges:nth-child(2) {
    margin-left: 40px;
  }
  .challengesTab .popularChallenges:nth-child(3) {
    margin-left: 40px;
    margin-right: 40px;
  }
  .challengesTab .popularChallenges {
    box-sizing: content-box;
    width: 260px;
    min-width: 260px;
    height: 310px;
    box-shadow: 0px 1px 6px #B6BDB5;
    margin-left: 40px;
    border-radius: 7px;
  }
  .challengesTab .popularChallenges * {
    margin: 0;
    padding: 0;
  }
  .challengesTab .popularChallenges img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .challengesTab .popularChallenges h2 {
    font-size: 1.9rem;
    font-weight: 400;
    padding: 2px 0px 1px 12px;
  }
  .challengesTab .popularChallenges .stars {
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-bottom: 5px;
  }
  .challengesTab .popularChallenges .stars .filledStar {
    width: 10px;
    height: 10px;
    background-image: url("Filled star.png");
    background-size: cover;
    margin-right: 6px;
  }
  .challengesTab .popularChallenges .stars .emptyStar {
    width: 10px;
    height: 10px;
    background-image: url("Empty star.png");
    background-size: cover;
    margin-right: 10px;
  }
  .challengesTab .popularChallenges .stars small {
    font-size: 1rem;
  }
  .challengesTab .popularChallenges p {
    font-size: 1.3rem;
    padding: 10px 13px;
  }
  .challengesTab .popularChallenges p span {
    display: block;
  }
  .challengesTab .popularChallenges button {
    border: none;
    background-color: #E3170A;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 3px;
    padding: 10px 25px;
    margin-left: 119px;
    cursor: pointer;
  }
  .story {
    background-color: #011827;
    text-align: center;
    margin-top: 50px;
    padding: 60px 0px 70px;
    width: 100%;
  }
  .story * {
    margin: 0;
    padding: 0;
  }
  .story p {
    color: #FFFFFF;
    font-size: 2rem;
    padding: 10px 29% 40px;
  }
  .story button {
    background-color: transparent;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    font-weight: bolder;
    font-size: 1.6rem;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
  }
  .on-siteChallenges {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 310px;
  }
  .on-siteChallenges * {
    margin: 0;
    padding: 0;
  }
  .on-siteChallenges img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .on-siteChallenges div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5%;
  }
}
@media screen and (min-width: 619px) and (min-width: 669px) {
  .on-siteChallenges div {
    padding: 2%;
  }
}
@media screen and (min-width: 619px) and (min-width: 850px) {
  .on-siteChallenges div {
    width: 40%;
    padding: 3%;
  }
}
@media screen and (min-width: 619px) {
  .on-siteChallenges h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 10px 0px 20px 15px;
    margin-top: 0;
  }
  .on-siteChallenges p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.6rem;
    padding-bottom: 10px;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0px;
  }
  .on-siteChallenges button {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0;
  }
  .onlineChallenges {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 310px;
    flex-direction: row-reverse;
  }
  .onlineChallenges * {
    margin: 0;
    padding: 0;
  }
  .onlineChallenges img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .onlineChallenges div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5%;
  }
}
@media screen and (min-width: 619px) and (min-width: 669px) {
  .onlineChallenges div {
    padding: 2%;
  }
}
@media screen and (min-width: 619px) and (min-width: 850px) {
  .onlineChallenges div {
    width: 40%;
    padding: 3%;
  }
}
@media screen and (min-width: 619px) {
  .onlineChallenges h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 10px 0px 20px 15px;
    margin-top: 0;
  }
  .onlineChallenges p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.6rem;
    padding-bottom: 10px;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0px;
  }
  .onlineChallenges button {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0;
  }
  .footer {
    background-color: #011827;
    color: #FFFFFF;
    padding: 7% 7% 15px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .footer * {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
  }
  .footer .information h4 {
    margin-bottom: 6.5px;
  }
  .footer .information p {
    margin-bottom: 40px;
  }
  .footer div {
    display: flex;
    flex-direction: row;
  }
  .footer .siteMap {
    margin-right: 50px;
  }
  .footer .siteMap h4 {
    margin-bottom: 6.5px;
  }
  .footer .siteMap span {
    display: flex;
    flex-direction: column;
  }
  .footer .siteMap span:nth-of-type(2) {
    margin-top: 1.5rem;
    margin-bottom: 40px;
  }
  .footer .socialMedia h4 {
    margin-bottom: 6.5px;
  }
  .footer .socialMedia span {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1001px) {
  .header {
    background-color: #011827;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .header .branding {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .header .branding .logo {
    width: 140px;
    height: 90px;
    margin-top: 15px;
    margin-left: 20px;
  }
  .header .branding h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #FFFFFF;
    margin: 18px 0px 5px 20px;
    font-size: 3.5rem;
    font-weight: 700;
  }
  .header .branding h1 span {
    margin-right: 8px;
  }
  .header .frontLayer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .header .frontLayer a {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin: 0px 7px;
    padding: 15px 40px 0px 40px;
    font-size: 2.1rem;
    font-weight: 700;
  }
  .header .frontLayer a:hover {
    color: #8ACFE5;
  }
  .largeImage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 440px;
  }
  .smallImage {
    display: none;
  }
  body .challengeButtons:first-of-type {
    transform: translateY(-50px);
  }
  .challengeButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
  }
  .challengeButtons .on-siteButton {
    background-color: #8ACFE5;
    color: #011827;
    border: none;
    font-weight: bolder;
    font-size: 2rem;
    width: 270px;
    height: 55px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
  }
  .challengeButtons .onlineButton {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 2rem;
    width: 270px;
    height: 55px;
    border-radius: 4px;
    cursor: pointer;
  }
  .reviews {
    display: flex;
    margin-top: 40px;
  }
  .reviews .reviewBlock:nth-child(2) {
    margin: 0;
    padding-left: 0;
    transform: translateX(-10%);
  }
  .reviews .reviewBlock {
    padding-right: 4%;
    margin-left: 120px;
  }
  .reviews .reviewBlock .reviewText {
    display: flex;
    margin-bottom: 10px;
  }
  .reviews .reviewBlock .reviewText p {
    margin: 0px 0px 4px 15px;
    font-style: italic;
    font-weight: 550;
    font-size: 2rem;
    padding-right: 50px;
  }
  .reviews .reviewBlock .reviewText img {
    width: 80px;
    height: 80px;
    padding-top: 2px;
  }
  .reviews .reviewBlock small {
    margin-left: 95px;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
  }
  .popularChallengesName {
    font-weight: 400;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .challengesTab {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  .challengesTab .popularChallenges {
    box-sizing: content-box;
    width: 310px;
    min-width: 310px;
    height: 370px;
    box-shadow: 0px 1px 6px #B6BDB5;
    border-radius: 7px;
  }
  .challengesTab .popularChallenges * {
    margin: 0;
    padding: 0;
  }
  .challengesTab .popularChallenges img {
    width: 100%;
    height: 190px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  .challengesTab .popularChallenges h2 {
    font-size: 2.3rem;
    font-weight: 400;
    padding: 5px 0px 1px 12px;
  }
  .challengesTab .popularChallenges .stars {
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-bottom: 5px;
  }
  .challengesTab .popularChallenges .stars .filledStar {
    width: 13px;
    height: 13px;
    background-image: url("Filled star.png");
    background-size: cover;
    margin-right: 6px;
  }
  .challengesTab .popularChallenges .stars .emptyStar {
    width: 13px;
    height: 13px;
    background-image: url("Empty star.png");
    background-size: cover;
    margin-right: 10px;
  }
  .challengesTab .popularChallenges .stars small {
    font-size: 1.2rem;
    margin-left: 105px;
  }
  .challengesTab .popularChallenges p {
    font-size: 1.6rem;
    padding: 10px 13px;
  }
  .challengesTab .popularChallenges p span {
    display: block;
  }
  .challengesTab .popularChallenges button {
    border: none;
    background-color: #E3170A;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 3px;
    padding: 11px 32px;
    margin-left: 145px;
    cursor: pointer;
  }
  .story {
    background-color: #011827;
    text-align: center;
    margin-top: 50px;
    padding: 120px 0px;
    width: 100%;
  }
  .story * {
    margin: 0;
    padding: 0;
  }
  .story p {
    color: #FFFFFF;
    font-size: 2.3rem;
    padding: 10px 29% 35px;
  }
  .story button {
    background-color: transparent;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    font-weight: bolder;
    font-size: 2rem;
    width: 270px;
    height: 55px;
    border-radius: 2.5px;
    cursor: pointer;
  }
  .on-siteChallenges {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 400px;
  }
  .on-siteChallenges * {
    margin: 0;
    padding: 0;
  }
  .on-siteChallenges img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .on-siteChallenges div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
  }
  .on-siteChallenges h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.9rem;
    font-weight: bold;
    margin: 10px 0px 20px 15px;
    margin-top: 0;
  }
  .on-siteChallenges p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.1rem;
    padding-bottom: 10px;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0px;
  }
  .on-siteChallenges button {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 2rem;
    width: 270px;
    height: 55px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0;
  }
  .onlineChallenges {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 400px;
    flex-direction: row-reverse;
  }
  .onlineChallenges * {
    margin: 0;
    padding: 0;
  }
  .onlineChallenges img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .onlineChallenges div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
  }
  .onlineChallenges h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.9rem;
    font-weight: bold;
    margin: 10px 0px 20px 15px;
    margin-top: 0;
  }
  .onlineChallenges p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.1rem;
    padding-bottom: 10px;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0px;
  }
  .onlineChallenges button {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 2rem;
    width: 270px;
    height: 55px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0;
  }
  .footer {
    background-color: #011827;
    color: #FFFFFF;
    padding: 90px 90px 70px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer * {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
  .footer .information {
    width: 350px;
  }
  .footer .information h4 {
    margin-bottom: 6.5px;
  }
  .footer .information p {
    margin-bottom: 40px;
  }
  .footer div {
    margin-right: 70px;
  }
  .footer .siteMap {
    margin-right: 50px;
    width: 90px;
    margin-left: 300px;
    transform: translateX(-30px);
  }
  .footer .siteMap h4 {
    margin-bottom: 6.5px;
  }
  .footer .siteMap span {
    display: flex;
    flex-direction: column;
  }
  .footer .siteMap span:nth-of-type(2) {
    margin-top: 1.5rem;
    margin-bottom: 40px;
  }
  .footer .socialMedia h4 {
    margin-bottom: 6.5px;
  }
  .footer .socialMedia span {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1499px) {
  .header {
    background-color: #011827;
    width: 100%;
    padding-bottom: 25px;
    padding-top: 10px;
  }
  .header .branding {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }
  .header .branding .logo {
    width: 160px;
    height: 105px;
    margin-top: 15px;
    margin-left: 20px;
  }
  .header .branding h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #FFFFFF;
    margin: 18px 0px 5px 25px;
    font-size: 4.5rem;
    font-weight: 700;
  }
  .header .branding h1 span {
    margin-right: 10px;
  }
  .header .frontLayer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .header .frontLayer a {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin: 0px 7px 0px 90px;
    padding: 15px 50px 0px;
    font-size: 3rem;
    font-weight: 700;
  }
  .header .frontLayer a:hover {
    color: #8ACFE5;
  }
  .largeImage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 520px;
  }
  .smallImage {
    display: none;
  }
  body .challengeButtons:first-of-type {
    transform: translateY(-65px);
  }
  .challengeButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 20px;
  }
  .challengeButtons .on-siteButton {
    background-color: #8ACFE5;
    color: #011827;
    border: none;
    font-weight: bolder;
    font-size: 2.6rem;
    width: 340px;
    height: 75px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
  }
  .challengeButtons .onlineButton {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 2.6rem;
    width: 340px;
    height: 75px;
    border-radius: 4px;
    cursor: pointer;
  }
  .reviews {
    display: flex;
    margin-top: 40px;
  }
  .reviews .reviewBlock:nth-child(2) {
    margin: 0;
    padding-left: 0;
    transform: translateX(-10%);
  }
  .reviews .reviewBlock {
    padding-right: 5%;
    margin-left: 150px;
  }
  .reviews .reviewBlock .reviewText {
    display: flex;
    margin-bottom: 10px;
  }
  .reviews .reviewBlock .reviewText p {
    margin: 0px 0px 4px 15px;
    font-style: italic;
    font-weight: 550;
    font-size: 2.6rem;
    padding-right: 50px;
  }
  .reviews .reviewBlock .reviewText img {
    width: 110px;
    height: 110px;
    padding-top: 2px;
  }
  .reviews .reviewBlock small {
    margin-left: 125px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
  }
  .popularChallengesName {
    font-weight: 400;
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  .challengesTab {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
  }
  .challengesTab .popularChallenges:nth-child(2) {
    margin-left: 50px;
  }
  .challengesTab .popularChallenges:nth-child(3) {
    margin-left: 50px;
  }
  .challengesTab .popularChallenges {
    box-sizing: content-box;
    width: 403px;
    min-width: 403px;
    height: 481px;
    box-shadow: 0px 1px 8px #B6BDB5;
    border-radius: 9px;
  }
  .challengesTab .popularChallenges * {
    margin: 0;
    padding: 0;
  }
  .challengesTab .popularChallenges img {
    width: 100%;
    height: 247px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
  .challengesTab .popularChallenges h2 {
    font-size: 3rem;
    font-weight: 400;
    padding: 6px 0px 1px 16px;
  }
  .challengesTab .popularChallenges .stars {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 6px;
  }
  .challengesTab .popularChallenges .stars .filledStar {
    width: 16px;
    height: 16px;
    margin-right: 7px;
  }
  .challengesTab .popularChallenges .stars .emptyStar {
    width: 16px;
    height: 16px;
    margin-right: 12px;
  }
  .challengesTab .popularChallenges .stars small {
    font-size: 1.56rem;
    margin-left: 140px;
  }
  .challengesTab .popularChallenges p {
    font-size: 2.08rem;
    padding: 13px 16px;
  }
  .challengesTab .popularChallenges button {
    font-size: 1.56rem;
    padding: 14px 41.6px;
    margin-left: 188.5px;
  }
  .story {
    background-color: #011827;
    text-align: center;
    margin-top: 50px;
    padding: 120px 0px;
    width: 100%;
  }
  .story * {
    margin: 0;
    padding: 0;
  }
  .story p {
    color: #FFFFFF;
    font-size: 3rem;
    padding: 10px 29% 35px;
  }
  .story button {
    background-color: transparent;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    font-weight: bolder;
    font-size: 2.6rem;
    width: 340px;
    height: 75px;
    border-radius: 2.5px;
    cursor: pointer;
  }
  .on-siteChallenges {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 520px;
  }
  .on-siteChallenges * {
    margin: 0;
    padding: 0;
  }
  .on-siteChallenges img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .on-siteChallenges div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
  }
  .on-siteChallenges h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 3.7rem;
    font-weight: bold;
    margin: 10px 0px 20px 15px;
    margin-top: 0;
  }
  .on-siteChallenges p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.8rem;
    padding-bottom: 10px;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0px;
  }
  .on-siteChallenges button {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 2.6rem;
    width: 340px;
    height: 75px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0;
  }
  .onlineChallenges {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 520px;
    flex-direction: row-reverse;
  }
  .onlineChallenges * {
    margin: 0;
    padding: 0;
  }
  .onlineChallenges img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  .onlineChallenges div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
  }
  .onlineChallenges h2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 3.7rem;
    font-weight: bold;
    margin: 10px 0px 20px 15px;
    margin-top: 0;
  }
  .onlineChallenges p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 2.8rem;
    padding-bottom: 10px;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0px;
  }
  .onlineChallenges button {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 2.6rem;
    width: 340px;
    height: 75px;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0px 20px 15px;
    margin-bottom: 0;
  }
  .footer {
    background-color: #011827;
    color: #FFFFFF;
    padding: 150px 90px 130px;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer * {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }
  .footer .information {
    width: 460px;
  }
  .footer .information h4 {
    margin-bottom: 6.5px;
  }
  .footer .information p {
    margin-bottom: 40px;
  }
  .footer div {
    margin-right: 100px;
  }
  .footer .siteMap {
    margin-right: 50px;
    width: 110px;
    margin-left: 300px;
    transform: translateX(-30px);
  }
  .footer .siteMap h4 {
    margin-bottom: 6.5px;
  }
  .footer .siteMap span {
    display: flex;
    flex-direction: column;
  }
  .footer .siteMap span:nth-of-type(2) {
    margin-top: 1.5rem;
    margin-bottom: 40px;
  }
  .footer .socialMedia h4 {
    margin-bottom: 6.5px;
  }
  .footer .socialMedia span {
    display: flex;
    flex-direction: column;
  }
}
