@media screen and (min-width: 1499px) {

    .header {
        background-color: #011827;
        width: 100%;
        padding-bottom: 25px;
        padding-top: 10px;

        .branding {
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;

            .logo {
                width: 160px;
                height: 105px;
                margin-top: 15px;
                margin-left: 20px;
            }

            h1 {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                color: #FFFFFF;
                margin: 18px 0px 5px 25px;
                font-size: 4.5rem;
                font-weight: 700;

                span {
                    margin-right: 10px;
                }
            }
        }

        .frontLayer {
            display: flex;
            flex-direction: row;
            justify-content: center;

            a {
                display: flex;
                flex-direction: row;
                color: #FFFFFF;
                margin: 0px 7px 0px 90px;
                padding: 15px 50px 0px;
                font-size: 3rem;
                font-weight: 700;
            }

            a:hover {
                color: #8ACFE5
            }
        }

    }

    .largeImage {
        @include removeMarginAndPadding;
        width: 100%;
        height: 520px;
    }

    .smallImage {
        display: none;
    }

    body {
        .challengeButtons:first-of-type {
            transform: translateY(-65px);
        }
    }

    .challengeButtons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 20px;

        .on-siteButton {
            @include hugeOn-siteButtonStyle;
            margin-left: 20px;
        }

        .onlineButton {
            @include hugeRedButtonStyle;
        }
    }

    .reviews {
        display: flex;
        margin-top: 40px;

        .reviewBlock:nth-child(2) {
            margin: 0;
            padding-left: 0;
            transform: translateX(-10%)
        }

        .reviewBlock {
            padding-right: 5%;
            margin-left: 150px;

            .reviewText {
                display: flex;
                margin-bottom: 10px;

                p {
                    margin: 0px 0px 4px 15px;
                    font-style: italic;
                    font-weight: 550;
                    font-size: 2.6rem;
                    padding-right: 50px;
                }

                img {
                    width: 110px;
                    height: 110px;
                    padding-top: 2px;
                }
            }

            small {
                margin-left: 125px;
                font-size: 2rem;
                display: flex;
                flex-direction: column;
            }
        }
    }

    .popularChallengesName {
        font-weight: 400;
        font-size: 4.5rem;
        display: flex;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .challengesTab {
        display: flex;
        justify-content: center;
        padding-bottom: 65px;

        .popularChallenges:nth-child(2) {
            margin-left: 50px;
        }

        .popularChallenges:nth-child(3) {
            margin-left: 50px;
        }

        .popularChallenges {
            box-sizing: content-box;
            width: 403px;
            min-width: 403px;
            height: 481px;
            box-shadow: 0px 1px 8px #B6BDB5;
            border-radius: 9px;

            * {
                @include removeMarginAndPadding;
            }

            img {
                width: 100%;
                height: 247px;
                border-top-left-radius: 9px;
                border-top-right-radius: 9px;
            }

            h2 {
                font-size: 3rem;
                font-weight: 400;
                padding: 6px 0px 1px 16px;
            }

            .stars {
                display: flex;
                align-items: center;
                padding-left: 15px;
                padding-bottom: 6px;

                .filledStar {
                    width: 16px;
                    height: 16px;
                    margin-right: 7px;
                }

                .emptyStar {
                    width: 16px;
                    height: 16px;
                    margin-right: 12px;
                }

                small {
                    font-size: 1.56rem;
                    margin-left: 140px;
                }
            }

            p {
                font-size: 2.08rem;
                padding: 13px 16px;
            }

            button {
                font-size: 1.56rem;
                padding: 14px 41.6px;
                margin-left: 188.5px;
            }
        }
    }


    .story {
        background-color: #011827;
        text-align: center;
        margin-top: 50px;
        padding: 120px 0px;
        width: 100%;

        * {
            @include removeMarginAndPadding;
        }

        p {
            color: #FFFFFF;
            font-size: 3rem;
            padding: 10px 29% 35px;
        }

        button {
            @include hugeStoryButtonStyle;
        }
    }

    .on-siteChallenges {
        @include hugeChallengesStyle;
    }

    .onlineChallenges {
        @include hugeChallengesStyle;
        flex-direction: row-reverse;
    }

    .footer {
        background-color: #011827;
        color: #FFFFFF;
        padding: 150px 90px 130px;
        margin-top: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        * {
            @include removeMarginAndPadding;
            font-size: 2rem;
        }

        .information {
            width: 460px;

            h4 {
                margin-bottom: $bottomMargins;
            }

            p {
                margin-bottom: 40px;
            }
        }

        div {
            margin-right: 100px;
        }

        .siteMap {
            margin-right: 50px;
            width: 110px;
            margin-left: 300px;
            transform: translateX(-30px);

            h4 {
                margin-bottom: $bottomMargins;
            }

            span {
                display: flex;
                flex-direction: column;
            }

            span:nth-of-type(2) {
                margin-top: 1.5rem;
                margin-bottom: 40px;
            }
        }

        .socialMedia {
            h4 {
                margin-bottom: $bottomMargins;
            }

            span {
                display: flex;
                flex-direction: column;
            }
        }
    }
}