@media screen and (min-width: 1001px) {

    .header {
        background-color: #011827;
        width: 100%;
        padding-bottom: 20px;

        .branding {
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;

            .logo {
                width: 140px;
                height: 90px;
                margin-top: 15px;
                margin-left: 20px;
            }

            h1 {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                color: #FFFFFF;
                margin: 18px 0px 5px 20px;
                font-size: 3.5rem;
                font-weight: 700;

                span {
                    margin-right: 8px;
                }
            }
        }

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;

            a {
                display: flex;
                flex-direction: row;
                color: #FFFFFF;
                margin: 0px 7px;
                padding: 15px 40px 0px 40px;
                font-size: 2.1rem;
                font-weight: 700;
            }

            a:hover {
                color: #8ACFE5
            }
        }

    }

    .largeImage {
        @include removeMarginAndPadding;
        width: 100%;
        height: 440px;
    }

    .smallImage {
        display: none;
    }

    body {
        .challengeButtons:first-of-type {
            transform: translateY(-50px);
        }
    }

    .challengeButtons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 20px;

        .on-siteButton {
            @include largeOn-siteButtonStyle;
            margin-left: 15px;
        }

        .onlineButton {
            @include largeRedButtonStyle;
        }
    }

    .reviews {
        display: flex;
        margin-top: 40px;

        .reviewBlock:nth-child(2) {
            margin: 0;
            padding-left: 0;
            transform: translateX(-10%)
        }

        .reviewBlock {
            padding-right: 7%;
            margin-left: 120px;

            .reviewText {
                display: flex;
                margin-bottom: 10px;

                p {
                    margin: 0px 0px 4px 15px;
                    font-style: italic;
                    font-weight: 550;
                    font-size: 2rem;
                    padding-right: 50px;
                }

                img {
                    width: 80px;
                    height: 80px;
                    padding-top: 2px;
                }
            }

            small {
                margin-left: 95px;
                font-size: 1.7rem;
                display: flex;
                flex-direction: column;
            }
        }
    }

    .popularChallengesName {
        font-weight: 400;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 40px;
    }

    .challengesTab {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;

        .popularChallenges {
            box-sizing: content-box;
            width: 310px;
            min-width: 310px;
            height: 370px;
            box-shadow: 0px 1px 6px #B6BDB5;
            border-radius: 7px;


            * {
                @include removeMarginAndPadding;
            }

            img {
                width: 100%;
                height: 190px;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }

            h2 {
                font-size: 2.3rem;
                font-weight: 400;
                padding: 5px 0px 1px 12px;
            }

            .stars {
                display: flex;
                align-items: center;
                padding-left: 12px;
                padding-bottom: 5px;

                .filledStar {
                    width: 13px;
                    height: 13px;
                    background-image: url('Filled star.png');
                    background-size: cover;
                    margin-right: 6px;
                }

                .emptyStar {

                    width: 13px;
                    height: 13px;
                    background-image: url('Empty star.png');
                    background-size: cover;
                    margin-right: 10px;
                }

                small {
                    font-size: 1.2rem;
                    margin-left: 105px;
                }
            }

            p {
                font-size: 1.6rem;
                padding: 10px 13px;

                span {
                    display: block;
                }
            }

            button {
                border: none;
                background-color: #E3170A;
                color: #FFFFFF;
                font-weight: bold;
                font-size: 1.2rem;
                border-radius: 3px;
                padding: 11px 32px;
                margin-left: 145px;
                cursor: pointer;
            }
        }
    }

    .story {
        background-color: #011827;
        text-align: center;
        margin-top: 50px;
        padding: 120px 0px;
        width: 100%;

        * {
            @include removeMarginAndPadding;
        }

        p {
            color: #FFFFFF;
            font-size: 2.3rem;
            padding: 10px 29% 35px;
        }

        button {
            @include largeStoryButtonStyle;
        }
    }

    .on-siteChallenges {
        @include largeChallengesStyle;
    }

    .onlineChallenges {
        @include largeChallengesStyle;
        flex-direction: row-reverse;
    }

    .footer {
        background-color: #011827;
        color: #FFFFFF;
        padding: 10% 8% 70px;
        margin-top: 100px;
        display: flex;
        flex-direction: row;

        * {
            @include removeMarginAndPadding;
            font-size: 1.5rem;
        }

        .information {
            width: 350px;

            h4 {
                margin-bottom: $bottomMargins;
            }

            p {
                margin-bottom: 40px;
            }
        }

        div {
            margin-right: 70px;
            transform: translateX(20px);
        }

        .siteMap {
            margin-right: 50px;
            width: 90px;
            margin-left: 300px;
            transform: translateX(-50px);

            h4 {
                margin-bottom: $bottomMargins;
            }

            span {
                display: flex;
                flex-direction: column;
            }

            span:nth-of-type(2) {
                margin-top: 1.5rem;
                margin-bottom: 40px;
            }
        }

        .socialMedia {
            h4 {
                margin-bottom: $bottomMargins;
            }

            span {
                display: flex;
                flex-direction: column;
            }
        }
    }
}