@mixin on-siteButtonStyle {
    background-color: #8ACFE5;
    color: #011827;
    border: none;
    font-weight: bolder;
    font-size: 1.6rem;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
}

@mixin smallOnlineButtonStyle {

    border: none;
    background-color: transparent;
    color: #36769D;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 8.5px;
    display: inline;
    cursor: pointer;
}

@mixin storyButtonStyle {
    background-color: transparent;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    font-weight: bolder;
    font-size: 1.6rem;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
}

@mixin redButtonStyle {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 16px;
    width: 215px;
    height: 50px;
    border-radius: 2.5px;
    cursor: pointer;
}

@mixin largeRedButtonStyle {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 2rem;
    width: 270px;
    height: 55px;
    border-radius: 4px;
    cursor: pointer;
}

@mixin largeOn-siteButtonStyle {
    background-color: #8ACFE5;
    color: #011827;
    border: none;
    font-weight: bolder;
    font-size: 2rem;
    width: 270px;
    height: 55px;
    border-radius: 4px;
    cursor: pointer;
}

@mixin largeStoryButtonStyle {
    background-color: transparent;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    font-weight: bolder;
    font-size: 2rem;
    width: 270px;
    height: 55px;
    border-radius: 2.5px;
    cursor: pointer;
}

$challengeMargins: 10px 0px 20px 15px;

$bottomMargins: 6.5px;

@mixin smallChallengesStyle {
    padding-bottom: 25px;

    * {
        margin: 0;
        padding: 0;
    }

    img {
        width: 100%;
        height: 260px;
        margin-bottom: 5px;
    }

    h2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 2.5rem;
        font-weight: bold;
        margin: $challengeMargins;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 1.9rem;
        padding-bottom: 10px;
        margin: $challengeMargins;
    }

    button {
        @include redButtonStyle;
        margin: $challengeMargins;
    }
}

@mixin mediumChallengesStyle {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 310px;

    * {
        margin: 0;
        padding: 0;
    }

    img {
        width: 50%;
        height: 100%;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.5%;

        @media screen and (min-width: 669px) {
            padding: 2%;
        }

        @media screen and (min-width: 850px) {
            width: 40%;
            padding: 3%;
        }
    }

    h2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 2.2rem;
        font-weight: bold;
        margin: $challengeMargins;
        margin-top: 0;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 1.6rem;
        padding-bottom: 10px;
        margin: $challengeMargins;
        margin-bottom: 0px;
    }

    button {
        @include redButtonStyle;
        margin: $challengeMargins;
        margin-bottom: 0;
    }
}

@mixin largeChallengesStyle {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 420px;

    * {
        margin: 0;
        padding: 0;
    }

    img {
        width: 50%;
        height: 100%;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5%;
    }

    h2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 2.9rem;
        font-weight: bold;
        margin: $challengeMargins;
        margin-top: 0;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 2.1rem;
        padding-bottom: 10px;
        margin: $challengeMargins;
        margin-bottom: 0px;
    }

    button {
        @include largeRedButtonStyle;
        margin: $challengeMargins;
        margin-bottom: 0;
    }
}

@mixin hugeChallengesStyle {
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 100%;
    height: 570px;

    * {
        margin: 0;
        padding: 0;
    }

    img {
        width: 50%;
        height: 100%;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 5%;
    }

    h2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 3.7rem;
        font-weight: bold;
        margin: $challengeMargins;
        margin-top: 0;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 2.8rem;
        padding-bottom: 10px;
        margin: $challengeMargins;
        margin-bottom: 0px;
    }

    button {
        @include hugeRedButtonStyle;
        margin: $challengeMargins;
        margin-bottom: 0;
    }
}

@mixin hugeRedButtonStyle {
    background-color: #E3170A;
    color: #FFFFFF;
    border: none;
    font-weight: bolder;
    font-size: 2.6rem;
    width: 340px;
    height: 75px;
    border-radius: 4px;
    cursor: pointer;
}

@mixin hugeOn-siteButtonStyle {
    background-color: #8ACFE5;
    color: #011827;
    border: none;
    font-weight: bolder;
    font-size: 2.6rem;
    width: 340px;
    height: 75px;
    border-radius: 4px;
    cursor: pointer;
}

@mixin hugeStoryButtonStyle {
    background-color: transparent;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    font-weight: bolder;
    font-size: 2.6rem;
    width: 340px;
    height: 75px;
    border-radius: 2.5px;
    cursor: pointer;
}

@mixin removeMarginAndPadding {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    height: 100%;
}

body {
    @include removeMarginAndPadding;

    box-sizing: border-box;
}

@import 'smallSizeStyle';
@import 'mediumSizeStyle';
@import 'largeSizeStyle';
@import 'hugeSizeStyle';